 <div class="avatar">
   <img src="assets/img/avatar.png" alt="Avatar">
</div>
<meta property="og:image" content="assets/img/1.png" />

 <div class="user-details">
  <p>
  
   
   I'm a Software License Data Analyst Intern in Krakow, Poland.
  Third year mechatronic engineering student with hands-on experience in data analyse, software assets managment, costumer contact, and visualisation softwares like : Tableu, MatLab. 
  I am extremely motivated to constantly develop my skills and grow professionally </p>
</div>

<div class="user">
  <div class="tech">
    <h2>Analyzing </h2>
  <div class="icons">
      <i class="icon fas fa-file-csv"></i>
      <i class="icon fas fa-microscope"></i>
      <i class="icon fas fa-chart-bar"></i>
    </div>
    <p>
      
     
     In a wide range of subject areas,  I have analyzed structured and unstructured data to extract actionable business insights.
      I love to craft stunning and clever visualizations that illustrate surprising results I am also sharing my work on Kaggle website.
    </p>
  </div>

  <div class="tech">
    <h2>Developing</h2>
  <div class="icons">
      <i class="devicon-python-plain"></i>
      <i class="devicon-git-plain"></i>
      <i class="devicon-docker-plain"></i>
    </div>
    <p>
      I'm strongly convinced that machine learning models should is the future and as a still a beginner I am trying my best to learn it's funcionality.
      Using my new skills I am participating in many Competitions which help me to develop new skills.
    </p>
  </div>
  <div class="tech">
    <h2/>Communication / Hobbies</h2>
  <div class="icons">
      <i class="icon fas fa-chalkboard-teacher"></i>
      <i class="icon fas fa-plane-departure"></i>
      <i class="icon fas fa-comments"></i>
    </div>
    <p>I enjoy working in a team and teaching other people, in my free time I am providing math lessons for children from my neighbourhood.
      My passions are: snowboarding with my girlfriend, chess playing, traveling around the word and exploration of stock market.
    </p>
  </div>
</div>
